In [2]:
s = "Hello My name is Mrinmoy Bordoloi"
lent1 = len(s)
print(lent1)

33

In [6]:
s1 = s[0:-1:2]
print(s1)

HloM aei rno odl

In [10]:

print(s[0:lent1:2])

HloM aei rno odli

In [13]:
import os;
from tqdm.notebook import tqdm
import _ in tqdm(range(120)):
 time.sleep()

SyntaxError: invalid syntax (535030630.py, line 3)

In [14]:
import time
from tqdm.notebook import tqdm


for _ in tqdm(range(120)):
    time.sleep(0.1)

  0%|          | 0/120 [00:00<?, ?it/s]

In [20]:
s = " Python is an awesome language !!  "
print(s)

 Python is an awesome language !!

In [21]:
s = s1[3:15:2]
print(s)

Mairoo

In [22]:
print(s)

Mairoo

In [23]:
print(s)

Mairoo

In [24]:
a1 = "Hello ! My name is Mrinmoy "
print(a1)

Hello ! My name is Mrinmoy

In [25]:
a2 = a1[0:len(a1):1]

In [26]:
print(a2)

Hello ! My name is Mrinmoy

In [27]:
A1 = "Mrinmoy Bordoloi"
print(A1)

Mrinmoy Bordoloi

In [ ]:
print(A1[0:len(A1)-1:])

In [28]:
import time
from tqdm.notebook import tqdm


for _ in tqdm(range(120)):
    time.sleep(0.1)

  0%|          | 0/120 [00:00<?, ?it/s]

In [29]:
s = "Hi there My name is Mrinmoy "
s1 = s[:]
s2 = s

In [30]:
print(s1)
print(s2)

Hi there My name is Mrinmoy
Hi there My name is Mrinmoy

In [35]:
A1 = "Hi there How are You"
print(A1," | THE ID IS AS FOLLOWS -> ",id(A1))

Hi there How are You  | THE ID IS AS FOLLOWS ->  2650746702384

In [32]:
a1 = "My name is Mrinmoy Bordoloi"
print(a1)

My name is Mrinmoy Bordoloi

In [39]:
s = " Hello World "
print(s[0])

for num in range(0,len(s)):
    print(s[num],sep= " ")

H
e
l
l
o

W
o
r
l
d

# METHODS OF STRING CLASS

In [ ]:
## String type methods
## We will 

## Difference between data types and Class

In [40]:
a1 = """## Python
## Stack Queue LinkedList

## Customm data types"""

In [41]:
print(a1)

## Python
## Stack Queue LinkedList

## Customm data types

In [42]:
## Stack Queue Linked-List Graph Tree are the Data Structures

In [45]:
## Mthods od string class
class Human:
    def __init__(self,Name):
        self.Name = Name## Class 

    def __repr__(self):
        return f"{self.Name}"
    
    def Cry(self):
       print("Hi there How are you")

In [47]:
x = 5
print(x,type(x))
x = "Hello World"
print(x)

5 <class 'int'>
Hello World

In [46]:
x: int;
y: float;

In [51]:
## Variable Name

Name: str;
Sal: float;
Language:  list;
Education: dict;
## Tos tore all the information about the  education

In [52]:
print(type(list))

<class 'type'>

In [1]:
Application_template = """
Hello There

My name is a Mrinmouy Bordoloi
"""

print(Application_template)

Hello There

My name is a Mrinmouy Bordoloi

In [2]:
## Implementaion ofthe Stack

Name = "Mrinmoy";
Age = 24
Country = "INDIA"
Height = 12.4
Info ="""
XYZ
"""



print(Name,Age,Country,Height,Info)

Mrinmoy 24 INDIA 12.4
XYZ

In [3]:
"""The shell Output is directly Printed"""

'The shell Output is directly Printed'

In [4]:
## Formaatting the DATA
# We will have the following

s = "Hello There My name is Mrinmoy %.2f let,s Happens "%(12.23)
print(s)

Hello There My name is Mrinmoy 12.23 let;s Happens

In [5]:
## Out of 2 decimal Places

A1 = "The float Type -->> %.2f "%(12.123456);
print(A1)

The float Type -->> 12.12

In [6]:
## The formatting of the string

## The format method of the string
## We will work on the core version of the Python

In [7]:
# f - string-->> It will work on th e version >= 3.6

In [8]:
print(" f - string-->> It will work on th e version >= 3.6")

 f - string-->> It will work on th e version >= 3.6

In [9]:
" f - string-->> It will work on th e version >= 3.6"

' f - string-->> It will work on th e version >= 3.6'

In [11]:
## Formatting the variable

val_1 = "Hi there My name is Mrinmoy"

print("The following is the f string value -->> ",f"{val_1}")

The following is the f string value -->>  Hi there My name is Mrinmoy

In [16]:
## The format method is as follows 
val1 = "My name is Mrinmoy"
val2 = "I am currently studying in class 12"

print(f"{val1} Next Text -->> {val2}")

My name is Mrinmoy Next Text -->> I am currently studying in class 12

In [19]:
## Normall method for the implememtation of the text

Name = input("EEnter your name ");
print(f"My nameis {Name}")

My nameis Mrinmoy Bordoloi

In [20]:
## { iT isa aparticulart type of placeholder}

In [22]:
Val = """## {} Will indicate the replacmeen tfield 
##  It is defined to be replaced"""

In [23]:
print(Val)

## {} Will indicate the replacmeen tfield
##  It is defined to be replaced

In [24]:
Name = input("Enter a value")
s = f"Welcome !! User {Name} "
print(s)

Welcome !! User Mrinmoy

In [25]:
A1 = "Welcome !! , My name is Mrinmoy Bordoloi".format()
print(A1)

Welcome !! , My name is Mrinmoy Bordoloi

In [26]:
Name = input("Enter your Name: ")
s = "Welcome!! My name is {}".format(Name)
print(s)

Welcome!! My name is Mrinmoy Bordoloi